<h2> Trending 🥳</h2>


<div class="container text-center">
    <div class="row">
        <% gifs.forEach(gif => { %>
        <div class="col">
            <a href="/gifs/details/<%= gif.id %>">
                <% if (gif.images.original.url != " ") { %>
                <img  src="<%= gif.images.original.url %>" alt="<%= gif.title %>"/> 
                <% } %>
            </a>
        </div>
        <% }) %>
    </div>   
</div>
  

        
