<h2>Edit Your Username âœ</h2> 

<form method="POST" action="/users/edit/?_method=PUT">
    <label for="username">New Username:</label>
    <input id="username" type="username" name="username" required />
    <button type="submit">Save</button>
</form>