<div>
    <div class="text-center form-signin w-100 m-auto">
    
        <% if (message) { %>
         <p><%= message %></p>
        <% } %>
        
        <form action="/users/login" method="POST">
            <h1 class="h3 mb-3 fw-normal">Please login</h1>
    
            <div class="form-floating">
                <label for="floatingInput">Email</label>
                <input class="form-control" id="floatingInput" type="email" name="email" required>
            </div>
    
            <div class="form-floating">
                <label for="floatingPassword">Password:</label>
                <input class="form-control" id="floatingPassword" type="password" name="password" required>
            </div>
        
            <button type="submit">Login</button>
        </form>
    </div>
</div>