<div class="container">

    

      <div>
        <h1><i class="fa-solid fa-user"></i>@<%= user.username %></h1>
        <a href="/users/edit">Edit Username</a>
      </div>

    <h2> Welcome to your profile!! </h2>
    
    <!-- Add for each loop () -->
    
    <div>
        <% gifs.forEach(gif => { %>
        <a href="/gifs/details/<%= gif.id %>">
                <% if (gif.images.original.url != " ") { %>
                <img id="gifImg" src="<%= gif.images.original.url %>" alt="<%= gif.title %>"/> 
                <% } %>
        </a>
        <% }) %>
    </div>

</div>

